.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.fill-empty-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar-link {
  margin: auto 5px;
  line-height: 100%;
  height: 100%;
  text-decoration-line: none;
  
}
.toolbar-link span {
  line-height: 60px;
  color: white;
}

