<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/Home" routerLinkActive="active" mat-list-item href="#">Home</a>
      <a routerLink="/spdf" routerLinkActive="active" mat-list-item href="#">spdf</a>
      <a routerLink="/AMSD" routerLinkActive="active" mat-list-item href="#">AMSD</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ray Keller</span>
      <span class="fill-empty-space"></span>
      <a class = "toolbar-link" routerLink="/Home" *ngIf="isNotHandset$ | async"><span>Home</span></a>
      <a class = "toolbar-link" routerLink="/spdf"  *ngIf="isNotHandset$ | async"><span>spdf</span></a>
      <a class = "toolbar-link" routerLink="/AMSD"  *ngIf="isNotHandset$ | async"><span>AMSD</span></a>    
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
